

html, body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    min-height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  .text-node { background-clip: text !important; -webkit-background-clip: text !important; }
  
  /* bodykolory */
  .bodykolory-91bf64ebe528 {
    position: relative;
    width: 781px;
    height: 700px;
    background: #313131;
    overflow: hidden;
    z-index: 0;
  }
  
  /* kolory */
  .kolory-624dd9962e7b {
    position: absolute;
    left: 0px;
    top: 27px;
    width: 781px;
    height: 636px;
    background: #E9E9E9;
    overflow: hidden;
    display: flex;
    align-items: start;
    align-content: center;
    justify-content: start;
    gap: 50px;
    padding: 80px 80px 80px 80px;
    flex-direction: row-reverse;
    flex-wrap: wrap;
  }
  
  /* Rectangle */
  .rectangle-61d6c4615811 {
    width: 114px;
    height: 114px;
    background: #1F1146;
    border-radius: 0px;
    flex-shrink: 0;
  }
  
  /* Rectangle */
  .rectangle-61d6d116c560 {
    width: 114px;
    height: 114px;
    background: #0053A1;
    border-radius: 0px;
    flex-shrink: 0;
  }
  
  /* Rectangle */
  .rectangle-61f53daf0e50 {
    width: 114px;
    height: 114px;
    background: #FFEC00;
    border-radius: 0px;
    flex-shrink: 0;
  }
  
  /* Rectangle */
  .rectangle-6206222c59d9 {
    width: 114px;
    height: 114px;
    background: #FF0400;
    border-radius: 0px;
    flex-shrink: 0;
  }
  
  /* Rectangle */
  .rectangle-62062563b741 {
    width: 114px;
    height: 114px;
    background: #D40200;
    border-radius: 0px;
    flex-shrink: 0;
  }
  
  /* Rectangle */
  .rectangle-61f568375765 {
    width: 114px;
    height: 114px;
    background: #00305E;
    border-radius: 0px;
    flex-shrink: 0;
  }
  
  /* Rectangle */
  .rectangle-61d6d66a52c8 {
    width: 114px;
    height: 114px;
    background: #38A2DC;
    border-radius: 0px;
    flex-shrink: 0;
  }
  
  /* Rectangle */
  .rectangle-61d6fcf90335 {
    width: 114px;
    height: 114px;
    background: #FFFFFF;
    border-radius: 0px;
    flex-shrink: 0;
  }